.main {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 10px;
  border: 1px solid black;
  background-color: #fcf6f6;
  padding: 15px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #b2beb5;
}

.pixel {
  color: white;
  margin-right: 10px;
}

.ctrls {
  display: flex;
}

.ctrl-btn-row {
  margin-right: 1px;
  width: 25%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  font-size: xx-large;
  font-family: 'Comic Sans MS', serif;
  font-weight: 500;
}

.ctrl-btn-2-row {
  width: 50%;
}

.bg-ash {
  background-color: #f5f5f5;
}

.bg-orange {
  background-color: #ff8c00;
}
